<p id="notice"><%= notice %></p>

<h1>All Users</h1>

<br />
<%= link_to "New user", new_user_path, class: 'btn btn-primary' %>

<br /><br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
         <td><%= user.role.titlecase %></td>
      </tr>
    <% end %>
  </tbody>
</table>
